* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --font-small: 15px;
    --font-md: 30px;
    --font-lg: 60px;
    --gap: 25px;
}

body{
    background-color: #8c8b88;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;

    h1{
        margin-bottom: 25px;
        font-family: "Ephesis", serif;
        font-size: var(--font-lg);
    }
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    width: 80vw;
    max-width: 1000px;
    padding: 25px;
    border-radius: 25px;
    gap: var(--gap);
}

.form{
    display: flex;
    flex-direction: row;
    gap: var(--gap);
    transition: all 0.5s ease-in-out;

    .word{
        border: none;
        padding: 10px 25px;
        border-radius: 20px;
        font-family: monospace;
    }

    button{
        padding: 0 5px;
        border: none;
        border-radius: 25px;
        background-color: black;
        color: white;
    }

    button:hover{
        background-color: #3c3c3a;
    }
}

.result{
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    text-align: left;

    h1{
        font-family: monospace;
        font-size: var(--font-md);
        margin: 0;
    }

    h2{
        font-family: monospace;
        color: #3c3c3a;
        font-size: var(--font-small);
        margin-bottom: var(--gap);
    }

    p{
        font-family: monospace;
        font-size: var(--font-small);
    }

    div{
        max-width: fit-content;
        overflow: hidden;
        white-space: nowrap; 
        animation: typing 1s steps(3, end) infinite;
    }

    h3{
        margin-top: var(--gap);
        font-family: monospace;
        font-size: var(--font-small);
        border-left: 2px solid white;
        padding-left: 10px;
        color: #3c3c3a;
        word-break: break-word;
    }
}

.typing {
    overflow: hidden;
    white-space: normal;
    word-break: break-word;
}

.btnViewAll{
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 25px;
}

.btnViewAll:hover{
    background-color: rgb(200, 200, 200);
}

.recents{
    width: 100vw;
    height: 100vh;
    background-color: #3c3c3a;
    color: white;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap);

    p{
        font-size: var(--font-md);
        font-weight: bold;
        font-family: sans-serif;
        cursor: pointer;
        padding: 5px 10px;
        border-radius: 5px;
        text-align: center;
    }

    p:hover{
        background-color: #8c8b88;
    }

    button{
        border: none;
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 25px;
    }

    button:hover{
        background-color: rgb(200, 200, 200);
    }
}

.wordDisplay{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0, .5);

    .word{
        background-color: white;
        margin: 0 50px;
        padding: 10px 30px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        border-radius: 15px;
        font-family: monospace;
        max-width: 1000px;

        h1{
            margin-bottom: 0;
            font-size: var(--font-lg);
        }

        p{
            margin-bottom: 25px;
            font-size: var(--font-small);
        }
    }
}

@keyframes typing {
    from{
        width: 0;
    }to{
        width: fit-content;
    }
}


@media (min-width: 480px) {
    :root{
        --font-small: 20px;
        --font-md: 40px;
        --font-lg: 80px;
    }

    .form{
        .word{
            height: 6vh;
            width: 40vw;
            max-width: 250px;
            font-size: var(--font-small);
        }

        button{
            width: 15vw;
            max-width: 100px;
        }
    }
}

@media (min-width: 768px) {
    :root{
        --gap: 50px;
    }

}

@media (min-width: 1024px) {
    /* Ajustes para desktops pequenos */
}

@media (min-width: 1280px) {
    /* Ajustes para telas maiores */
}

@media (min-width: 1536px) {
    /* Ajustes para monitores muito grandes */
}
