* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --font-small: 15px;
    --font-md: 30px;
    --font-lg: 60px;
    --gap: 25px;
}

body{
    background-color: #8c8b88;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    flex-direction: column;
    overflow-x: hidden;
}

section{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    max-width: 600px;
    border-radius: 15px;
    padding: 25px 60px;
    gap: 30px;
    
    h1{
        font-family: "Ephesis", serif;
        font-size: var(--font-md);
    }
}

.form{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1px;
    transition: all 0.5s ease-in-out;
    border: 1px solid #8c8b88;
    border-radius: 10px;
    padding: 10px 25px;
    
    .word{
        border: none;
        font-family: monospace;
        outline: none;
        width: 100%;
        height: 40px;
        padding: 0 8px;
    }

    img{
        height: 10px;
        width: 10px;
    }

    button{

        height: 40px;
        aspect-ratio: 1;
        border: none;
        border-radius: 25px;
        background-color: black;
        color: white;

        cursor: pointer;
    }

    button:hover{
        background-color: #3c3c3a;
    }

    span{
        display: none;
        cursor: pointer;
        font-family: sans-serif;
        color: #8c8b88;
    }
}

.audio-player{
    width: 100%;
    display: none;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;

    button{
        border: none;
        background-color: black;
        width: 40px;
        height: 40px;
        border-radius: 100%;

        cursor: pointer;
    }

    button:hover{
        background-color: #3c3c3a;
    }

    img{
        width: 30px;
        height: 30px;
    }

    h2{
        font-family: monospace;
    }
}

.result{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    text-align: left;

    h1{
        font-family: monospace;
        font-size: var(--font-md);
        margin: 0 15px;
    }

    h2{
        font-family: monospace;
        color: #3c3c3a;
        font-size: var(--font-small);
        margin: 0 15px;
    }

    p{
        font-family: monospace;
        font-size: var(--font-small);
        margin: 30px 0;
    }

    div{
        max-width: fit-content;
        overflow: hidden;
        white-space: nowrap; 
        animation: typing 1s steps(3, end) infinite;
    }

    h3{
        font-family: monospace;
        font-size: var(--font-small);
        border-left: 2px solid #3c3c3a;
        padding-left: 10px;
        color: #3c3c3a;
        word-break: break-word;
    }
}

.loading{
    display: none;
    gap: 12px;
    margin-bottom: 30px;
}

.loading div{
    width: 20px;
    height: 20px;
    background-color: #3c3c3a;
    border-radius: 100%;

    animation: cycle 1s ease-in-out infinite;
}

.loading div:nth-child(1){
    animation-delay: 0;
}

.loading div:nth-child(2){
    animation-delay: 0.2s;
}

.loading div:nth-child(3){
    animation-delay: 0.4s;
}

.typing {
    overflow: hidden;
    white-space: normal;
    word-break: break-word;
}

@keyframes typing {
    from{
        width: 0;
    }to{
        width: fit-content;
    }
}

@keyframes cycle {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(0.5rem);
    }
    100%{
        transform: translateY(0);
    }
}


@media (min-width: 480px) {
    :root{
        --font-small: 20px;
        --font-md: 40px;
        --font-lg: 80px;
    }
}

@media (min-width: 768px) {
    :root{
        --gap: 50px;
    }

    .audio-player{
        button{
            bottom: -30px;
        }
    }
}

@media (min-width: 1024px) {
    /* Ajustes para desktops pequenos */
}

@media (min-width: 1280px) {
    /* Ajustes para telas maiores */
}

@media (min-width: 1536px) {
    /* Ajustes para monitores muito grandes */
}
